<nav class="c-nav-container" >
  <div class="c-nav-logo">
    <a href="/" class="logo">
      <%= image_tag("catlogo-300.png", :alt => "Logo Image") %>
    </a>
  </div>
  <div class="c-nav-right">
    <div class="c-nav-top-row">
      <span>
        <i class="fa fa_envelope" ></i> Email:
        <a href="mailto:sales@catapulsion.net">sales@catapulsion.net</a>
      </span>
      <span>
        <i class="fa fa_phone" ></i> Call Us: 435-649-9778
      </span>
      <span>
        <i class="fa fa_share" ></i> <a href="http://mail.cityemail.com">Access Webmail</a>
      </span>
      <span>
        <i class="fa fa_share" ></i> <a href="https://portal.catapulsion.net">Portal</a>
      </span>
    </div>
    <div class="c-nav-bottom-row">
      <span>
        <a href="http://catapulsion.com">Business</a>
      </span>
      <span>
        <%= link_to 'Residential', '/pages/residential' %>
      </span>
      <span>
        <%= link_to 'About Us', '/pages/about' %>
      </span>
      <span>
        <%= link_to 'Contact', '/pages/contact' %>
      </span>
      <span>
        <%= link_to 'Help', '/pages/support' %>
      </span>
      <span>
        <a href="/blog">Blog</a>
      </span>
    </div>
  </div>
</nav>
